  <h4>Background & Abilities: </h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">person</i>
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Name your Character</label>
            </div>
          </div>
        </form>
      </div>

  <h4>Class:</h4>
      <a href="" class="dropdown-button btn black" data-activates="classdropdown">select a class <i class="material-icons right" >arrow_drop_down</i></a>
      <ul id="classdropdown" class="dropdown-content">
          <li><a href ="#"> Barbarian</a></li>
          <li><a href ="#"> Bard</a></li>
          <li><a href ="#"> Cleric</a></li>
          <li><a href ="#"> Druid</a></li>
          <li><a href ="#"> Fighter</a></li>
          <li><a href ="#"> Monk</a></li>
          <li><a href ="#"> Paladin</a></li>
          <li><a href ="#"> Ranger</a></li>
          <li><a href ="#"> Rogue</a></li>
          <li><a href ="#"> Sorcerer</a></li>
          <li><a href ="#"> Warlock</a></li>
          <li><a href ="#"> Wizard</a></li>
      </ul>
   
  
  <h4>Race:</h4>
      <a href="" class="dropdown-button btn black" data-activates="classdropdown">select a class <i class="material-icons right" >arrow_drop_down</i></a>
      <ul id="classdropdown" class="dropdown-content">
          <li><a href ="#"> Elf</a></li>
          <li><a href ="#"> Tiefling</a></li>
          <li><a href ="#"> Dwarf</a></li>
          <li><a href ="#"> Halfling</a></li>
          <li><a href ="#"> Dragonborn</a></li>
          <li><a href ="#"> Human</a></li>
        </ul>
   

   <h4>Level: </h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">person</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Name</label>
          </div>
        </div>
      </form>
    </div>
      <!--  </div>
        {{user}}
  
        {{character}}
         
        </div> -->
   