    <div class="container center">
      <h1 class="flow-text white-text">Character creation can sometimes take forever. Our charater builder makes it quick and easy. Select from the options below to generate your own character sheet.</h1>
    </div>


  <div class="card blue-grey lighten-4">
    <div class="container">
      <h5>Background & Abilities: </h5>
      <div class="row">
        <form class="col s7">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">person</i>
              <input placeholder="enter your character name" class="name" id="first_name" type="text" class="validate">
            </div>
          </div>
        </form>
      </div>

  <h5>Class:</h5>
    <div class="col s6">
      <select id="class-id" alt="classes">
        <option value="" disabled selected>Select a Class</option>
        {{!-- {{#each classes as |class|}}
        <option value='{{class.id}}'>{{class.name}}</option>
        {{/each}} --}}
        <option value="1">Barbarian</option>
        <option value="2">Bard</option>
        <option value="3">Cleric</option>
        <option value="4">Druid</option>
        <option value="5">Fighter</option>
        <option value="6">Monk</option>
        <option value="7">Paladin</option>
        <option value="8">Ranger</option>
        <option value="9">Rogue</option>
        <option value="10">Sorcerer</option>
        <option value="11">Warlock</option>
        <option value="12">Wizard</option>
      </select>
    </div>
   
  
  <h5>Race:</h5>
    <div class="input-field col s6">
      <select id="race" alt="genre">
        <option value="" disabled selected>Select a Race</option>
        <option value="Elf"> Elf</option>
        <option value="Tiefling"> Tiefling</option>
        <option value="Dwarf"> Dwarf</option>
        <option value="Halfling"> Halfling</option>
        <option value="Dragonborn"> Dragonborn</option>
        <option value="Human"> Human</option>
      </select> 
    </div>

   <h5>Level: </h5>
   <div class="row">
     <form class="col s7">
       <div class="row">
         <div class="input-field col s6">
           <i class="material-icons prefix">add_circle</i>
            <input placeholder="enter a level 1-20" id="first_name" type="text" class="validate level">
         </div>
       </div>
     </form>
   </div>
  
  <h5>Armor: </h5>
     <form class="col s3">
       <div class="row">
         <div class="input-field col s8">
           <i class="material-icons prefix">add_circle</i>
            <input placeholder="enemy attacks must roll higher than this number to hit" id="first_name" type="text" class="validate armor">
         </div>
       </div>
     </form>
   

  <h5>Speed: </h5>
     <form class="col s3">
       <div class="row">
         <div class="input-field col s8">
           <i class="material-icons prefix">add_circle</i>
            <input placeholder="the distance the player can move per turn" id="first_name" type="text" class="validate speed">
         </div>
       </div>
     </form>
   
   <h5>Strength: </h5>
     <form class="col s3">
       <div class="row">
         <div class="input-field col s8">
           <i class="material-icons prefix">add_circle</i>
            <input placeholder="enter value" id="first_name" type="text" class="validate strength">
         </div>
       </div>
     </form>

  <h5>Dexterity: </h5>
     <form class="col s3">
       <div class="row">
         <div class="input-field col s8">
           <i class="material-icons prefix">add_circle</i>
            <input placeholder="enter value" id="first_name" type="text" class="validate dexterity">
         </div>
       </div>
     </form>
   

  <h5>Constitution: </h5>
     <form class="col s3">
       <div class="row">
         <div class="input-field col s8">
            <i class="material-icons prefix">add_circle</i>
            <input placeholder="enter value" id="first_name" type="text" class="validate constitution">
         </div>
       </div>
     </form>

  <h5>Intelligence:</h5>
     <form class="col s3">
       <div class="row">
         <div class="input-field col s8">
            <i class="material-icons prefix">add_circle</i>
            <input placeholder="enter value" id="first_name" type="text" class="validate intelligence">
         </div>
       </div>
     </form>
    
  <h5>Wisdom:</h5>
     <form class="col s3">
       <div class="row">
         <div class="input-field col s8">
            <i class="material-icons prefix">add_circle</i>
            <input placeholder="enter value" id="first_name" type="text" class="validate wisdom">
         </div>
       </div>
     </form>

  <h5>Charisma: </h5>
     <form class="col s3">
       <div class="row">
         <div class="input-field col s8">
            <i class="material-icons prefix">add_circle</i>
            <input placeholder="enter value" id="first_name" type="text" class="validate charisma">
         </div>
       </div>
     </form>

  <h5>Health: </h5>
     <form class="col s3">
       <div class="row">
          <div class="input-field col s8">
            <i class="material-icons prefix">add_circle</i>
            <input placeholder="enter value" id="first_name" type="text" class="validate health">
         </div>
       </div>
     </form>



<button class="btn waves-effect waves-light black charCreate" type="submit" name="action">Submit
  <i class="material-icons right">send</i>
</button>
  <p>
    
  </p>

   <script>
    document.addEventListener('DOMContentLoaded', function() {
      console.log("drop down button")
      var elems = document.querySelectorAll('.dropdown-trigger');
      var elemz = document.querySelectorAll('select');
      var instances = M.Dropdown.init(elems);
      var instancez = M.FormSelect.init(elemz);
    });
    </script>
    <script src="./js/charCreate.js"></script>
 

    
      
   
   