
<div class='slider'>
  <ul class='slides'>
    <li>
      <img src='./images/fight.png' alt='elf girl with red hair' />
      <div class='caption center-align'>
        <h3>Create your own D&D character profiles</h3>
        <h5 class='light grey-text text-lighten-3'>
          Create. Design. Share.
        </h5>
        <br />
        <button
          class='btn waves-effect waves-light black'
          type='Get Started'
          name='action'
        >
          Get Started
          <i class='material-icons right'>grade</i>
        </button>
      </div>
    </li>
    <li>
      <img src='./images/wizard.png' alt='elf girl with red hair' />
      <div class='caption center-align'>
        <h3>Create your own D&D character profiles</h3>
        <h5 class='light grey-text text-lighten-3'>
          Create. Design. Share.
        </h5>
        <br />
        <button
          class='btn waves-effect waves-light black'
          type='Get Started'
          name='action'
        >
          Get Started
          <i class='material-icons right'>grade</i>
        </button>
      </div>
    </li>
    <li>
      <img src='./images/library.jpg' alt='elf girl with red hair' />
      <div class='caption center-align'>
        <h3>Create your own D&D character profiles</h3>
        <h5 class='light grey-text text-lighten-3'>
          Create. Design. Share.
        </h5>
        <br />
        <button
          class='btn waves-effect waves-light black'
          type='Get Started'
          name='action'
        >
          Get Started
          <i class='material-icons right'>grade</i>
        </button>
      </div>
    </li>
  </ul>
</div>
  <h5 class='center-align white-text'>
    Learn More
  </h5>

    <div class='container'>

  <div class='row'>
    <div class='col s6 16'>
      <div class='card'>
        <div class='card-image waves-effect waves-block waves-light'>
          <img class='activator' src='./images/elf.jpg' alt='elf with red hair' />
        </div>
        <div class='card-content'>
          <span class='card-title activator grey-text text-darken-4'>Light Elf<i
              class='material-icons right'
            >more_vert</i></span>
        </div>
        <div class='card-reveal'>
          <span class='card-title grey-text text-darken-4 black-text'>About:<i
              class='material-icons right'
            >close</i></span>
          <p>
            Suffused with innate light magic, light elves are fun, loving and charismatic. From the material plane, they orginally were a secular group of high elves. Light elves are renowned for their ability to birhgten a conversation tather than 
            their betrayalfilled past. She is a warrior elf princess. Weapons include bow and arrow.
          </p>
          <p>
            Ability Score Increase: Your Charisma score increases by 1. 
          </p>
        </div>
      </div>
    </div>
    <div class='col s6 16'>
      <div class='card'>
        <div class='card-image waves-effect waves-block waves-light'>
          <img class='activator' src='./images/wizard.png' alt='wizard lady' />
        </div>
        <div class='card-content'>
          <span class='card-title activator grey-text text-darken-4'>Lady Grey<i
              class='material-icons right'
            >more_vert</i></span>
        </div>
        <div class='card-reveal'>
          <span class='card-title grey-text text-darken-4'>About:<i
              class='material-icons right'
            >close</i></span>
          <p>
            These beings are wise and mysterious, known for a lack of concern for mortal ethics and morals. 
            Lady Grey is a wizard in training on a search for a mysterious lost treasure.
          </p>
          <p>
            Expanded Spell List: The Lady Grey allows you to choose from an expanded spell list when you learn Warlock spells.
          </p>
        </div>
      </div>
    </div>
    <div class='col s6 16'>
      <div class='card'>
        <div class='card-image waves-effect waves-block waves-light'>
          <img class='activator' src='../images/library.jpg' alt='elf with red hair' />
        </div>
        <div class='card-content'>
          <span class='card-title activator grey-text text-darken-4'>Dark Sorcerer<i
              class='material-icons right'
            >more_vert</i></span>
        </div>
        <div class='card-reveal'>
          <span class='card-title grey-text text-darken-4'>About:<i
              class='material-icons right'
            >close</i></span>
          <p>
            A dark sorcerer on the path to power. They carry a magical birthright conferred upon them by their bloodline, some otherwordly influence, or exposure to unknown cosmic forces.
            Sorcerers are rare in the world, and it's unusual to find a socerer who is not involved in the adventuring life in some way.
          </p>
          <p>
           Starting equipment: Crossbow, arcane focus and explorer's pack. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () { var slider =
  document.querySelector('.slider'); M.Slider.init(slider); });
</script>
