<div class='slider'>
  <ul class='slides'>
    <li>
      <img src='assets/wizard.png' alt='elf girl with red hair' />
      <div class='caption center-align'>
        <h3>Create your own D&D character profiles</h3>
        <h5 class='light grey-text text-lighten-3'>
          Create. Design. Share.
        </h5>
        <br />
        <button
          class='btn waves-effect waves-light black'
          type='Get Started'
          name='action'
        >
          Get Started
          <i class='material-icons right'>grade</i>
        </button>
      </div>
    </li>
    <li>
      <img src='assets/fight.png' alt='elf girl with red hair' />
      <div class='caption center-align'>
        <h3>Create your own D&D character profiles</h3>
        <h5 class='light grey-text text-lighten-3'>
          Create. Design. Share.
        </h5>
        <br />
        <button
          class='btn waves-effect waves-light black'
          type='Get Started'
          name='action'
        >
          Get Started
          <i class='material-icons right'>grade</i>
        </button>
      </div>
    </li>
    <li>
      <img src='assets/library.jpg' alt='elf girl with red hair' />
      <div class='caption center-align'>
        <h3>Create your own D&D character profiles</h3>
        <h5 class='light grey-text text-lighten-3'>
          Create. Design. Share.
        </h5>
        <br />
        <button
          class='btn waves-effect waves-light black'
          type='Get Started'
          name='action'
        >
          Get Started
          <i class='material-icons right'>grade</i>
        </button>
      </div>
    </li>
  </ul>
</div>
<div class='container'>
  <h4>Cards</h4>

  <div class='row'>
    <div class='col s6 16'>
      <div class='card'>
        <div class='card-image waves-effect waves-block waves-light'>
          <img class='activator' src='assets/elf.jpg' alt='elf with red hair' />
        </div>
        <div class='card-content'>
          <span class='card-title activator grey-text text-darken-4'>Card Title<i
              class='material-icons right'
            >more_vert</i></span>
          <p><a href='#'>This is a link</a></p>
        </div>
        <div class='card-reveal'>
          <span class='card-title grey-text text-darken-4'>Card Title<i
              class='material-icons right'
            >close</i></span>
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
    </div>
    <div class='col s6 16'>
      <div class='card'>
        <div class='card-image waves-effect waves-block waves-light'>
          <img class='activator' src='assets/elf.jpg' alt='elf with red hair' />
        </div>
        <div class='card-content'>
          <span class='card-title activator grey-text text-darken-4'>Card Title<i
              class='material-icons right'
            >more_vert</i></span>
          <p><a href='#'>This is a link</a></p>
        </div>
        <div class='card-reveal'>
          <span class='card-title grey-text text-darken-4'>Card Title<i
              class='material-icons right'
            >close</i></span>
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
    </div>
    <div class='col s6 16'>
      <div class='card'>
        <div class='card-image waves-effect waves-block waves-light'>
          <img class='activator' src='assets/elf.jpg' alt='elf with red hair' />
        </div>
        <div class='card-content'>
          <span class='card-title activator grey-text text-darken-4'>Card Title<i
              class='material-icons right'
            >more_vert</i></span>
          <p><a href='#'>This is a link</a></p>
        </div>
        <div class='card-reveal'>
          <span class='card-title grey-text text-darken-4'>Card Title<i
              class='material-icons right'
            >close</i></span>
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () { var slider =
  document.querySelector('.slider'); M.Slider.init(slider); });
</script>