<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

<link rel="stylesheet" type="text/css" href="./styles/login.css" />

<div class="row">
    <div class="col s12 m4 offset-m4 ">
        <h2>Login</h2>


        <form class="form login-form">
            <div class="form-group">
                <label for="email-login">email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
    
            <div class="form-group">
                <label for="password-login">password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group center-align">
                <button class="btn btn-primary red" type="submit">Sign in</button>
            </div>
        </form>
    </div>
    <div class="col s12 m4 offset-m4">
        <h2>Signup</h2>

        <form class="form signup-form">
            <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group center-align">
                <button class="btn btn-primary" type="submit">signup</button>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./js/login.js"></script>
</div>

