body {
    background-size: cover;
    background-color: #121212;
     margin: 0; 
}
.white-text {
    color: white;
 }

.brand-logo img {
     width: 100px;
     height: auto;
    position: absolute;
    top: 10px;
     left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}
body {
    background-image: url('../images/battle.png');
    background-size: cover;
    color: rgb(163, 72, 72);
}

.login {
    margin-top: 100px;
}

.login .card {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.login label {
    font-size: 16px !important;
    color: white;
}

.login input {
    font-size: 16px !important;
    color: white;
}

.login button:hover {
    padding: 0px 40px;
}

.forgot-password-link {
    display: block;
    text-align: right;
}

.horizontal-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
}